.App {
  background-color: white;
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.Header {
  background-color: #5CB23D;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Title {
  margin: 0 1rem;
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}

.MenuButtons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  background-color: white;
  border-top: 1px solid black;
  height: 3rem;
}

.Middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 45rem;
}

.Camera {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
}