.App {
  background-color: white;
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.Header {
  background-color: #5CB23D;
  height: 3rem;
  width: 44rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Title {
  margin: 0 1rem;
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}

.MenuButtons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  background-color: white;
  border-top: 1px solid black;
  height: 3rem;
  width: 44rem;
}

.Middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 45rem;
}

.Middle > div {
  background: transparent !important;
}

.Middle > div > video {
  object-fit: contain;
  height: 49rem;
  width: 44rem;
  margin: 48px 0;
}

.Middle > div > button {
  bottom: 80px !important;
  background: url("https://lh3.googleusercontent.com/EbXw8rOdYxOGdXEFjgNP8lh-YAuUxwhOAe2jhrz3sgqvPeMac6a6tHvT35V6YMbyNvkZL4R_a2hcYBrtfUhLvhf-N2X3OB9cvH4uMw=w1064-v0") !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  border: 0px !important;
}