.App {
    background-color: white;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .Header {
    background-color: #6cd646;
    height: 3rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .Title {
    margin: 0 1rem;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .MenuButtons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: white;
    border-top: 1px solid black;
    height: 3rem;
    width: 100vw;
  }
  
  .Middle {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    max-height: calc(100vh - 3rem - 3rem);
    min-height: calc(100vh - 3rem - 3rem);
  }

  .Card {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 80vw;
    border: 1px black solid;
    border-radius: 1rem;
  }

  .Image {
    height: 12rem;
    width: 100%;
    background-image: url("https://www.jpl.nasa.gov/edu/images/activities/darkmatter_compare_2.jpg");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 1rem 1rem 0 0;
  }

  .Text{
    display: flex;
    align-items: flex-start;
    text-align: left;
    flex-direction: row;
    margin-left: 1rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }

  .Description{
    display: flex;
    margin: 2rem 1rem .4rem 1rem;
    justify-content: space-between;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }

  .Block1{
    margin: 0 1rem;
    border: 1px solid black;
    border-radius: .4rem;
    padding: .2rem .4rem;
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
  }

  .Block2{
    margin: 0 1rem;
    border: 1px solid rgb(52, 133, 184);
    border-radius: .4rem;
    padding: .2rem .4rem;
    display: flex;
    justify-content: space-between;
    background-color: rgb(181, 208, 247);
  }

  .Location{
    height: 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }

  .BackToHome{
    background: #6cd646;
    border-radius: .5rem;
    padding: .5rem 2rem;
    border: .5px solid darkgreen;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
  }
